#my_div{
    width: 70%;
    height: 70vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    border-radius: 10px;
    position: fixed;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 8px 8px rgb(75, 75, 75);
}
#pickButt{
    left: 45%;
    top: 70%;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: 0px solid;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: rgb(2, 191, 2);
    position: fixed;
    width: 10%;
}
ul{
    list-style-type: none;
    
}
li{
    display: inline-block;
}
#colButt{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 30vh;
    background-color: black;
    margin-right: 10px;
}